.ipynb_checkpoints
*/.ipynb_checkpoints/*
.vscode
.repositories.yml
/src/addons/
/src/odoo/
/src/geoip/geoip.log
/src/geoip/GeoLite2-City.mmdb
/src/geoip/GeoLite2-Country.mmdb
/src/geoip/GeoLite2-City.mmdb.new
/src/geoip/GeoLite2-Country.mmdb.new